{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<title>Empleos de Ingenia Group</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
		<link rel="shortcut icon" href="Code/templates/css/images/favicon.png" type="image/x-icon" />
    
	</head>

  <body>
    <div id="container">
    <header>
      {% include "header.html" %}
    </header>

    <main>
    {% block content %}
    {% endblock %}
    </main>

    <footer>
      <div id="footer">
			  <p>Ingenia  - Anatole France 311 - Polanco, México D.F. +52 (55) 50 22 09 0000</p>
			</div><!-- End footer -->
    </footer>
  </div>
  </body>
</html>
