
<footer class="page-footer orange accent-4">
<div class="container">
  <div class="row">
    <div class="col l6 m6 s12">
      <h5 class="white-text">Empleos Ingenia</h5>
      <p class="grey-text text-lighten-4">{{info_intro.contenido}}</p>
    </div>
    <div class="col l3 m6 s12">
      <ul class="container section white-text light">
        <li>{{contactoI.nombre_compania}}</li>
        <li>{{contactoI.direccion}}</li>
        <li>{{contactoI.telefono}}</li>
        <li>{{contactoI.email}}</li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  Made by <a class="brown-text text-lighten-3" href="http://ingenia.com">Ingenia - Valentin MGM</a>
  </div>
</div>
</footer>
