{% extends 'base.html' %}
{% block content %}
<div id="content">
	        <h1 class="underline">Beneficios y prestaciones</h1>
	        <div id="sliderBeneficios">
	         <ul>
						<li>
						  <div class="colLeft">
                 <div class="mensaje">
                  <p class="mparrafo marginTop20px">Sabemos lo importante que son cada una de las personas de nuestro equipo y la seguridad que buscan en un trabajo serio y profesional.</p>
                  <p class="mparrafo">Por esta razón contamos con prestaciones que te brindarán la  <strong class="txt18px">seguridad</strong> que necesitas.</p>
                 </div>
							</div>
								<div class="colRight">
								  <h2 class="txt39px"><img alt="Flecha" src="assets/images/inicio/flecha.png"> Vacaciones</h2>
<p class="marginLeft">10 d&iacute;as de vacaciones a partir del primer a&ntilde;o de trabajo.</p>
<p class="marginLeft">5 d&iacute;as de vacaciones en caso de contraer matrimonio.</p>
<p class="marginLeft marginBottom20px">5 d&iacute;as de vacaciones en caso de tener un hijo (&Uacute;nicamente aplica para hombres)</p>
								  <h2 class="txt39px"><img alt="Flecha" src="assets/images/inicio/flecha.png"> Permisos Especiales</h2>
<p class="marginLeft marginBottom20px">3 permisos especiales al a&ntilde;o, para salir a cualquier tipo de tr&aacute;mite que tengas que hacer equivalente a medio d&iacute;a.</p>
								  <h2 class="txt39px"><img alt="Flecha" src="assets/images/inicio/flecha.png">  Prestaciones de Ley</h2>
<p class="marginLeft">IMSS</p>
<p class="marginLeft">Infonavit</p>
<p class="marginLeft">Aguinaldo</p>
<p class="marginLeft">Prima Vacacional </p>
							  </div>
						</li>
						<li>
						 <div class="colLeft">
						  	  <h2 class="txt39px"><img alt="Flecha" src="assets/images/inicio/flecha.png"> Convenios con Otras Empresas</h2>
<p class="marginLeft">Beca  del 90% en Cursos de Idiomas en el <strong class="txt18px">Angloamericano</strong> de Polanco. Beca del <strong class="txt18px">50%</strong> en carreras ejecutivas en el <strong class="txt18px">TecMilenio</strong> para ti, tu c&oacute;nyuge e hijos. <strong class="txt18px">50%</strong> en la compra de boletos para <strong class="txt18px">Six Flags </strong>S&uacute;per descuentos para  obras de teatro <strong class="txt18px">OCESA</strong> y en<strong class="txt18px"> Cin&eacute;polis.</strong> Descuentos para <strong>GYM</strong></p>
						 </div>
						 <img src="assets/images/beneficios/Linea.png" alt="línea punteada" class="dottedLine">
						 <div class="colRight">
						  	  <h2 class="txt39px"><img alt="Flecha" src="assets/images/inicio/flecha.png">Servicios y Beneficios</h2>
<p class="marginLeft">Seguro vida<br />Seguro de Reembolsos de <strong class="txt18px">Gastos M&eacute;dicos</strong><br />Asistencia telef&oacute;nica M&eacute;dica<br />
Asistencia Vial<br />
Servicios de viajes<br />
Tarjeta <strong class="txt18px">TDU</strong> para descuentos en restaurantes y m&aacute;s. Servicios Funerarios</p>
						 </div>
						</li>
           </ul>
					  <div class="clear"></div>
				  </div>
	      </div><!-- End content -->

<script type="text/javascript" src="Code/templates/js/beneficios.js"></script>
{% endblock %}
