{%extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Intro -->
    <div id="index-banner" class="parallax-container valign-wrapper">
        <div class="section center">
            <img src="{% static 'imagenesHome/logo_ingenia.png' %}" alt="Logo Ingenia"/>
            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="card orange accent-4">
                        <div class="card-content white-text">
                            <br>
                            <div class="row">
                                <h6 class="white-text left-align">{{info_intro.contenido}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{%static 'imagenesHome/introprin.jpg' %}" alt="Unsplashed background img 1"></div>
    </div>

    <br>
    <br>

<!--Info Ingenia -->

  <div class="row valign-wrapper">
      <div class="col s12 m6 l8 hide-on-small-only">
          <div class="card blue-grey darken-1 center">
              <div class="container section">
                  <img class="responsive-img " src="{{imagen_1.url}}" alt="Sketch Ingenia"/>
              </div>
          </div>
      </div>
      <div class="col s12 m6 l4">
          <div class="container">
              <h5 class="orange-text text-darken-3">{{info_1.titulo}}</h5>
              <p class="light">
                  {{info_1.contenido}}
              </p>
          </div>
      </div>
  </div>


    <div class="row">
        <div class="col s12 m6 l8 hide-on-med-and-up">
            <div class="card blue-grey darken-1 center">
                <div class="container section">
                    <img class="responsive-img " src="{% static 'imagenesHome/sketch.png' %}" alt="Sketch Ingenia"/>
                </div>
            </div>
        </div>
    </div>


    <div class="row valign-wrapper">
        <div class="col s12 m6 l4">
            <div class="container">
                <h5 class="orange-text text-darken-3">{{info_2.titulo}}</h5>
                <p class="light">
                    {{info_2.contenido}}
                </p>
            </div>
        </div>
        <div class="col s12 m6 l8 hide-on-small-only">
            <div class="card blue-grey darken-1 center">
                <div class="container section">
                    <img class="responsive-img " src="{% static 'imagenesHome/img7.png' %}" alt="Sketch Ingenia"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l8 hide-on-med-and-up">
            <div class="card blue-grey darken-1 center">
                <div class="container section">
                    <img class="responsive-img " src="{% static 'imagenesHome/img7.png' %}" alt="Sketch Ingenia"/>
                </div>
            </div>
        </div>
    </div>

<div class="blue-grey lighten-5">
<br>
    <!-- Vacantes -->
    <div class="container center"><div class="card blue-grey lighten-5">
      <h4 class="orange-text text-accent-4">Oportunidades de Trabajo</h4>
    </div></div>


        <div class="container">
            <div class="section">
                <div class="row valign-wrapper">

                    {%for vacante in Vacantes %}
                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h5 class="center orange-text text-accent-4">{{vacante.nombre}}</h5>

                                <p class="light">{{vacante.descripcion}}</p>
                            </div>
                        </div>
                    {% endfor %}

                      <div class="col s12 m4 card blue-grey darken-1">
                        <div class="section">
                          <div class="container">
                            <div class=" card blue-grey center">
                              <div class="container">
                                <div class="section">
                                <a href="#"><h5 class="white-text">Checa todas las Vancantes disponibles</h5></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
</div>

    <div class="divider"></div>

    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h4 class="orange-text text-accent-4 center">{{info_3.titulo}}</h4>
                <p class="left-alaign light">
                    {{info_3.contenido}}
                </p>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="parallax-container valign-wrapper">
            <div class="parallax"><img src="{% static 'imagenesHome/imagen_proyectos.jpg' %}" alt="Unsplashed background img 2"></div>
        </div>
    </div>

<div class="blue-grey lighten-5">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h4>Contact Us</h4>
                    <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo,
                        ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed
                        ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
