{%extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Intro -->
    <div id="index-banner" class="parallax-container valign-wrapper">
        <div class="section center">
            <img src="{% static 'imagenesHome/logo_ingenia.png' %}" alt="Logo Ingenia"/>
            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="card orange accent-4">
                        <div class="card-content white-text">
                            <br>
                            <div class="row">
                                <h6 class="white-text left-align">{{info_intro.contenido|linebreaks}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{%static 'imagenesHome/introprin.jpg' %}" alt="Unsplashed background img 1"></div>
    </div>

    <br>
    <br>

<!--Info Ingenia -->
<div class="container">
      <h5 class="orange-text text-darken-3">{{info_1.titulo|linebreaks}}</h5>
      <p class="light">
          {{info_1.contenido|linebreaks}}
      </p>

    <div class="row valign-wrapper">
      <div class="col s12 m4 l4">
        <div class="">
            <h5 class="">
              Nuestra agencia esta basada en tres pilares muy solidos y son estos los que nos han llevado hasta donde estamos ahora, respetándolos y creyendo fielmente en ellos.
            </h5>
        </div>
      </div>
      <div class="col s12 m8 l8 hide-on-small-only">
          <div class="card blue-grey darken-1 center">
              <div class="container section">
                  <img class="responsive-img " src="{% static 'imagenesHome/img6.png' %}" alt="Sketch Ingenia"/>
              </div>
          </div>
      </div>
    </div>

  <div class="row">

    <div class="col s6 m6 l4">
      <div class="card orange accent-4 white-text">
        <div class="container section">
        <h3 class="center">Nuestra Vision</h3>
        <h4>
          Ser la mejor agencia interactiva del mundo con sucursales en las principales ciudades del mundo (D.F, Nueva York, Londres, Sao Paulo, Dubai).
        </h4>
      </div>
      </div>
    </div>

    <div class="col s6 m6 l4">
      <div class="container section">
        <h3 class="orange-text text-accent-4 center">Nuestra Mision</h3>
        <div class="card blue-grey darken-1 center">
            <div class="container section">
                <img class="responsive-img " src="{% static 'imagenesHome/img7.png' %}" alt="Sketch Ingenia"/>
            </div>
        </div>
        <p class="light">
          Para nosotros, el brindar a nuestros clientes un servicio va mucho más allá de cumplir únicamente los objetivos de un proyecto, lo que para el equipo de Ingenia Group hace la diferencia es la experiencia que logremos generar en el cliente, una experiencia satisfactoria y que nuestro cliente esté seguro que nosotros estamos para hacer todo para que su proyecto de los mejores resultados de resultados.
        </p>
      </div>
    </div>

    <div class="col s6 m6 l4">
      <div class="card orange accent-4 white-text">
        <div class="container section">
          <h3 class="center">Nuestros Valores</h3>
          <h6 class=""><br>Rentabilidad
                      <br>[ Sin utilidades, las empresas no pueden subsistir ]
                      <br>Excelencia
                      <br>[ No hay lugar para la mediocridad ]
                      <br>Puntualidad
                      <br>[ Somos puntuales, muy puntuales ]
                      <br>Ambicion
                      <br>[ Si no aspiramos alto, no llegaremos lejos ]
                      <br>Actitud de Servicio
                      <br>[ Estamos para servir a los demás ]
                      <br>Optimismo
                      <br>[ Una visión positiva del futuro es la clave del éxito ]
          </h6>
        </div>


      </div>

    </div>
  </div>


      <div class="row">
          <div class="col s12 m6 l8 hide-on-med-and-up">
              <div class="card blue-grey darken-1 center">
                  <div class="container section">
                      <img class="responsive-img " src="{% static 'imagenesHome/img6.png' %}" alt="Sketch Ingenia"/>
                  </div>
              </div>
          </div>
      </div>


      <div class="row valign-wrapper">
          <div class="col s12 m6 l4">
              <div class="container">
                  <h5 class="orange-text text-darken-3">{{info_2.titulo|linebreaks}}</h5>
                  <p class="light">
                      {{info_2.contenido|linebreaks}}
                  </p>
              </div>
          </div>
          <div class="col s12 m6 l8 hide-on-small-only">
              <div class="card blue-grey darken-1 center">
                  <div class="container section">
                      <img class="responsive-img " src="{% static 'imagenesHome/img7.png' %}" alt="Sketch Ingenia"/>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col s12 m6 l8 hide-on-med-and-up">
              <div class="card blue-grey darken-1 center">
                  <div class="container section">
                      <img class="responsive-img " src="{% static 'imagenesHome/img7.png' %}" alt="Sketch Ingenia"/>
                  </div>
              </div>
          </div>
      </div>
</div>

<!-- Vacantes -->
  <div class="blue-grey lighten-5">
  <br>
      <div class="container center"><div class="card blue-grey lighten-5">
        <h4 class="orange-text text-accent-4">Oportunidades de Trabajo</h4>
      </div></div>


          <div class="container">
              <div class="section">
                  <div class="row valign-wrapper">

                      {%for vacante in Vacantes %}
                          <div class="col s12 m6">
                              <div class="icon-block">
                                  <h5 class="center orange-text text-accent-4">{{vacante.nombre|linebreaks}}</h5>

                                  <p class="light">{{vacante.descripcion|linebreaks}}</p>
                              </div>
                          </div>
                      {% endfor %}
                  </div>
                  <div class="row center card blue-grey darken-1">
                    <div class="section">
                      <div class="container">
                        <div class=" card blue-grey center">
                          <div class="container">
                            <div class="section">
                            <a href="#"><h5 class="white-text">Ver Detalles</h5></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
  </div>
      <div class="divider"></div>

      <div class="container">
          <div class="row">
              <div class="col s12 center">
                  <h4 class="orange-text text-accent-4 center">{{info_3.titulo|linebreaks}}</h4>
                  <p class="left-alaign light">
                      {{info_3.contenido|linebreaks}}
                  </p>
              </div>
          </div>
      </div>
      <div class="col s12">
          <div class="parallax-container valign-wrapper">
              <div class="parallax"><img src="{% static 'imagenesHome/imagen_proyectos.jpg' %}" alt="Unsplashed background img 2"></div>
          </div>
      </div>


  <div class="blue-grey lighten-5">
      <div class="container">
          <div class="section">
              <div class="row">
                  <div class="col s12 center">
                      <h4>Contact Us</h4>
                      <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo,
                          ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed
                          ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
