{% extends 'base.html' %}
{% block content %}
<div id="content">
	  <h1 class="underline">Por que Ingenia?</h1>
         <!-- Un poco de historia -->
          <div class="block">
            <h2 class="importantHeadline">Un poco de historia</h2>
<h3><img src="assets/images/inicio/flecha.png" alt="Flecha" />¿POR QUÉ INGENIA???</h3>
<img class="marginLeft" src="assets/images/por_que/img1.png" alt="internet" width="482" height="349" />
<p class="parrafo280px right">Somos una <strong class="txt18px">agencia joven</strong> y con todas las ganas de ofrecer a nuestros clientes lo que llamamos <br /><strong class="txt39px">&ldquo;servicio sensacional&rdquo;</strong> lo cual es parte de nuestra misi&oacute;n y estamos seguros que esa es la clave para lograr nuestro objetivo, brindar a nuestros clientes una <strong class="txt18px">experiencia incre&iacute;ble,</strong> trabajando con nuestro equipo de profesionales.</p>
          </div>
         <!-- SERVICIO SENSACIONAL -->
     	  <div class="block2">
            <h3><img src="assets/images/inicio/flecha.png" alt="Flecha"> SERVICIO SENSACIONAL</h3>
<p class="parrafo280px left marginLeft">Para nosotros, el brindar a nuestros clientes un servicio va mucho m&aacute;s all&aacute; de cumplir &uacute;nicamente los objetivos de un proyecto, lo que para el equipo de <strong class="txt18px">Ingenia Group</strong> hace la diferencia es la experiencia que logremos generar en el cliente, una <strong class="txt39px">experiencia satisfactoria</strong> y que nuestro cliente est&eacute; seguro que nosotros estamos para hacer todo para que su proyecto de los mejores resultados de resultados.</p>
<img class="imgWifi" src="assets/images/por_que/img3.png" alt="wi-fi" />
<div class="postit">
	<p class="rotate">El servicio sensacional esta ligado a la atencion al cliente, al cuidado de los detalles, al tiempo de respuesta, entre otros.</p>
</div>
<div class="clear"></div>
</div>
<div class="block">
<img src="assets/images/por_que/img4.png" alt="Alerta" class="imgAlerta" />
<p class="parrafo400px marginTop right">Sin embargo para lograr esa experiencia con el cliente, tambi&eacute;n es necesario <strong class="txt39px">orientarlo</strong> para que su proyecto sea lo más  exitoso posible, orientandolo con recomendaciones y mejores pr&aacute;cticas basadas en nuestra experiencia.</p>
<div class="clear"></div>
       	 </div>
         <!-- ¿QUIÉNES SOMOS? -->
         <div class="block">
           <h3><img src="assets/images/inicio/flecha.png" alt="Flecha">¿QUIÉNES SOMOS?</h3>
<p class="marginLeft parrafo700px">Ingenia Group y Central Ingenia, es una <strong class="txt39px">Agencia Interactiva</strong> que explota su creatividad para dar soluciones globales a sus clientes desarrollando Sitios Web, Aplicaciones, Sistemas a la medida, Animaciones y Estrategias de Marketing en internet.</p>
<div class="mensaje marginLeft">
<p>Nuestra agencia esta basada en <strong class="txt18px">tres pilares muy solidos</strong> y son estos los que nos han llevado hasta donde estamos ahora, respetándolos y creyendo fielmente en ellos.</p>
</div>
<img src="assets/images/por_que/img6.png" alt="Misión, visión y valores." class="right marginTop61px">
<div class="clear"></div>
         </div>
         <!-- NUESTROS -->
         <div class="block3">
           <div class="left">
<h3 class="titleRotate">NUESTRA <span class="importantHeadline">MISIÓN</span></h3>
<img src="assets/images/por_que/img7.png" alt="Correo, servicio sensacional" class="marginLeft">
</div>
<div class="right">
<h3 class="marginLeft">NUESTRA <span class="importantHeadline">VISIÓN</span></h3>
<div class="postit2">
<p>Ser la mejor agencia interactiva del mundo con sucursales en las principales ciudades del mundo (D.F., Nueva York, Londres, Sao Paulo, Dubai).</p>
</div>
</div>
<div class="clear"></div>
</div>
<div class="block3">
<div class="left">
<h3 class="marginLeft marginTitle">NUESTROS <span class="importantHeadline">VALORES</span></h3>
<img src="assets/images/por_que/img9.png" alt="Flecha" class="arrowLeft">
</div>
<div class="right">
<ul class="listValores">
<li><strong class="txt33px">Rentabilidad</strong> [ Sin utilidades, las empresas no pueden subsistir ]</li>
<li><strong class="txt33px">Excelencia</strong> [ No hay lugar para la mediocridad ]</li>
<li><strong class="txt33px">Puntualidad</strong> [ Somos puntuales, muy puntuales ]</li>
<li><strong class="txt33px">Ambicion</strong> [ Si no aspiramos alto, no llegaremos lejos ]</li>
<li><strong class="txt33px">Actitud de Servicio</strong> [ Estamos para servir a los dem&aacute;s ]</li>
<li><strong class="txt33px">Optimismo</strong> [ Una visi&oacute;n positiva del futuro es la clave del &eacute;xito ]</li>
</ul>
</div>
<div class="clear"></div>
         </div>
	</div><!-- End content -->
{% endblock %}
