
<footer class="page-footer orange accent-4">
<div class="container">
  <div class="row">
    <div class="col l6 m6 s12">
      <div class="section white-text">
        <h5>Empleos Ingenia</h5>
        <p class="grey-text text-lighten-4">{{contactoI.mensaje_home|linebreaks}}</p>
      </div>
    </div>
    <div class="col l3 m6 s12">
      <ul class="container section white-text light">
        <li>{{contactoI.nombre_compania|linebreaks}}</li>
        <li>{{contactoI.direccion|linebreaks}}</li>
        <li>{{contactoI.telefono|linebreaks}}</li>
        <li>{{contactoI.email|linebreaks}}</li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  Made by <a class="brown-text text-lighten-3" href="http://ingenia.com">Ingenia - Valentin MGM</a>
  </div>
</div>
</footer>
